<% provide(:title, 'Home') %>
<h1>Seventy.com Draft Site Home Page</h1>
<p>This is the home page for the Seventy.com (working title) draft site.  
What goes here will be decided in planning/design discussions.</p>
